/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*Верхняя часть приложения*/

.blue-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    background-color: #086F99;
    color: #FFFFFF;
    width: 100%;
}

/**/

.main-button {
    background-color: #FFFFFF;
    border: 1px groove;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    border-radius: 6px;
    color: #044C6A;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 6px;
    margin: 2% 2% 2% 2%;
    padding: 2% 2% 2% 2%;
    position: inherit;
}

button:focus,
button:active {
    background-color: white;
    border: hidden;
}

/**/

.main_container {
    display: flex;
    flex-direction: row;
    margin: 2% 2% 2% 2%;
    padding: 1%;
    width: 95%;
}

/**/

.main_menus {
    display: flex;
    width: 30%;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1% 5% 1% 5%;
}

.main_view {
    justify-content: center;
    width: inherit;
    padding: 1% 5% 1% 5%;
}

/**/

.button_div {
    width: 100%;
    padding: 2% 2% 2% 2%;
}

/**/

.drop_button {
    width: stretch;
    height: stretch;
    border-radius: 6px;
}

/**/

.region_head {
    background-color: #75BCFF;
    border-radius: 6px 6px 0px 0px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 10px 3px 10px;
}

/**/

.region_div {
    background: #FFFFFF;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    width: 90%;
}

/**/

table .region_table {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #044C6A;
    width: 100%;
}

/*    table .region_table td, th {
        width: 40%;
    }
*/
/*table :first-child {
    width: 50%;
}*/
/*th .region_td_let {
    width: 60%!important;
}

th .region_td_in {
    width: 40%!important;
}

td .region_td_let{
    width: 60%!important;
}

td .region_td_in{
    width: 40%!important;
}*/


/*table.dataTable tbody th .region_td_let,
table.dataTable tbody th .region_td_in,
table.dataTable tbody td .region_td_let,
table.dataTable tbody td .region_td_in {
    padding: 8px 10px;
    width: 40%;
}*/


/**/

.region_h {
    border-bottom: 1px solid #75BCFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #75BCFF;
}

/**/

.form_button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
    background-color: #E5E5E5;
}

    /**/
    .form_button:focus,
    .form_button:active {
        border: none;
    }

.save_button_click {
    background-color: #2A9964;
    border: none;
}

.reset_button_click {
    border: none;
}
/**/

.input_border {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
    padding: 1px 2px 2px 1px;
    margin-right: 15px;
    min-inline-size: inherit;
    width: 400px;
}

/**/

.checkbox_border {
    border: 1px solid #A3B1C6;
    border-radius: 6px;
}

/**/

.bi-exclamation-circle::before {
    content: "\f333";
    margin: -40px;
}

.input_icon::before {
    color: #FF3E3E;
    display: none;
}

i .error_icon_Fail {
    display: inline-block;
    margin: -40px;
}

/*.input_span {
    background-color: #FFFFFF;
    border-radius: 0px 6px 6px 0px;
    border-left: none;
    border-color: black;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.25);
    padding: 1px 0px 3px 1px;
    margin-left: -23px;
    width: 15px;
}*/

.reg_label {
    width: 600px;
}

/**/

.validFail {
    border: 1px solid #FF3E3E;
    color: #FF3E3E;
    width: calc(85%-15px);
}

/**/

/*.validSpanFail {*/
/*position: absolute;*/
/*border: 1px solid red;
    border-left: none;
    color: #FF3E3E;
    width: 15px;
}*/



/**/

.validMsg {
    position: absolute;
    display: none;
}

/**/

.validMsgFail {
    background-color: #FF3E3E;
    width: 400px;
    padding: 5px;
    border-radius: 6px 6px 6px 6px;
}

table.dataTable td.dataTables_empty {
    vertical-align: central;
    height: 500px !important;
}



table .dataTable {
    border-radius: 6px !important;
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px !important;
    color: #044C6A !important;
}

table.dataTable.display {
    color: #044C6A !important;
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px !important;
}

table .dataTables_filter {
    font-family: 'Roboto' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 16px !important;    
}

.bi-trash::before {
    content: "\f5de";
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: #FF3E3E;
}

bi-search:before {
    color: #044C6A !important;
   
}
i .table_search {
    color: #044C6A !important;
    margin-right: -25px !important;
}

.btn-primary {
    border-radius: 6px !important;
    background-color: #75BCFF !important;
    color: #FFFFFF !important;
}

.dataTables_scrollHead {
    border: 1px solid !important;
    border-radius: 6px 6px 0px 0px !important;
    padding-right: 0px !important;
    background-color: #C4C4C4 !important;
}

.dataTables_wrapper .dataTables_filter input {
    border-color: #75BCFF !important;
    border-radius:6px !important;
    border: 1px solid !important;
    color: #0465D0 !important;
}

th .del_icon{
    text-align:center !important;
    justify-content:center !important;    
}

table.dataTable thead th{
    text-align:center;
}

.paginate_button {
    color: #044C6A !important;
}