@model List<ARMdps.Models.DepartmentModel>
@{
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/ru.json" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div>
    <button class="blue-button" onclick="loadNewVersion">Новое подразделение</button>
</div>
<table id="dTable" class="cell-border" style="width:100%">
    <thead style="background-color:#75BCFF;">
        <tr>
            <th>Код подразделения</th>
            <th>Название подразделения</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model)
        {
        <tr>
            <td>@d.DepartmentCode</td>
            <td>@d.DepartmentName</td>
        </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(document).ready(function () {
    $('#dTable').DataTable();
    })
</script>
