@model ARMdps.Models.DepartmentModel
@{
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/ru.json" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div id="depModal" class="modal-content">
    <div class="modal-header blue-header">
        <h5 style="margin: 2% 2% 2% 2%;">Редактирование подразделения</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    </div>
    <div class="modal-body">
        <form id="departmentForm">
            <table>
                <tr>
                    <td>
                        <input type="hidden" id="Id" />
                        <label for="DepartmentCode">
                            Код подразделения
                        </label>
                    </td>
                    <td>
                        <input id="DepartmentCode" name="DepartmentCode" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="ShortName">
                            Краткое наименование:
                        </label>
                    </td>
                    <td>
                        <input id="ShortName" name="ShortName" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="DepartmentName">
                        Полное наименование:
                        </label>
                    </td>
                    <td>
                        <input id = "DepartmentName" name="DepartmentName" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Phones">
                        Телефон:
                        </label>
                    </td>
                    <td>
                        <input id = "Phones" name="Phones" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="EmailAddress">
                        Адрес электронной почты:
                        </label>
                    </td>
                    <td>
                        <input id = "EmailAddres" name="EmailAddres" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="Address">
                        Адрес:
                        </label>
                    </td>
                    <td>
                        <input id="Address" name="Address" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        БАНКОВСКИЕ РЕКВИЗИТЫ
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="KPP">
                        КПП:
                        </label>
                    </td>
                    <td>
                        <input id="KPP" name="KPP" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="INN">
                        ИНН:
                        </label>
                    </td>
                    <td>
                        <input id="INN" name="INN" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="OKTMO">
                        ОКТМО:
                        </label>
                    </td>
                    <td>
                        <input id="OKTMO" name="OKTMO" type="text" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="BankName">
                        Наименование банка получателя:
                        </label>
                    </td>
                    <td>
                        <input id="BankName" name="BankName" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="PaymentName">
                        Наименование получателя:
                        </label>
                    </td>
                    <td>
                        <input id="PaymentName" name="PaymentName" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="BIK">
                        БИК:
                        </label>
                    </td>
                    <td>
                        <input id="BIK" name="BIK" type="text">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="KBK">
                        КБК:
                        </label>
                    </td>
                    <td>
                        <input id="KBK" name="KBK" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="RReceipt">
                        Расчетный счет:
                        </label>
                    </td>
                    <td>
                        <input id="RReceipt" name="RReceipt" type="text"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="KReceipt">
                        Кор. счет:
                        </label>
                    </td>
                    <td>
                        <input id="KReceipt" name="KReceipt" type="text"/>
                    </td>
                </tr>
            </table>
            <button type="button" onclick="saveDepartmentChanges()">Сохранить</button>
        </form>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
    
    function updateTable(tableHtml) {
        $('#example').html(tableHtml);
    }
    
    function saveSuccess(){
        $('#modalDialog').modal('hide');
        sendAjaxTable('@Url.Action("GetDepartmentTable", "Department")',tableSuccess, tableError, "POST");
    }

    function saveError(){
        alert("Error occured");
    }

    function saveDepartmentChanges(){
        let jDepartmentModel=$("#departmentForm").serialize();
        saveAjaxChanges(jDepartmentModel,'@Url.Action("UpdateDepartment","Department")',saveSuccess,saveError,"POST");
    }

    
</script>