<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css"/>
    <link rel="stylesheet" href="~/DataTables/datatables.min.css" />
    <link rel="stylecheet" href="~/DataTables/DataTables-1.12.1/css/jquery.dataTables.min.css"/>
    <link rel="stylesheet" href="~/Select-1.4.0/css/select.dataTables.min.css"/>
    <link rel="stylesheet" href="~/Buttons-2.2.3/css/buttons.dataTables.min.css"/>
    <link rel="stylesheet" href="~/DateTime-1.1.2/css/dataTables.dateTime.min.css"/>
    <link rel="stylesheet" href="~/css/Modal.css"/>
    <link rel="stylesheet" href="~/css/toastr.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css">
</head>
<div class="editform_div">
    <form id="regForm">
        <div class="editform_head">
            <p style="margin: 0px 0px 0px 0px">
                Данные о регионе
            </p>
        </div>
        <table id="regTable" class="editform_table">
            <thead>
                <tr>
                    <th class="editform_h">
                        <input type="hidden" id="Region_Id" name="Region_Id" />
                        Заполните параметры региона
                        <span style="color:#FF3E3E; font-size:10px;">*</span>
                        <span style="color:#A3B1C6; font-size:12px;"> - Обязательное для заполнения поле</span>
                    </th>
                    <th class="editform_h"></th>
                </tr>
            </thead>
            <tbody>
                   <tr>
                    <td>
                        <span style="color:#FF3E3E;">*</span>
                        <label for="RegionCode">Код региона РФ (4 знака)</label>
                    </td>
                    <td>
                        <input id="RegionCode" class="error_input input_border" name="RegionCode" type="text" maxlength="4" />
                        <i id="RegionCodeIcon" class="error_icon input_icon"></i>
                        <span id="RegionCodeMsg" class="error_msg validMsg"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="color:#FF3E3E;">*</span>
                        <label for="Code2Digits"> Код региона, применяемый на ГРЗ ТС (2 знака)</label>
                    </td>
                    <td>
                        <input id="Code2Digits" class="error_input input_border" name="Code2Digits" type="text" maxlength="2" />
                        <i id="Code2DigitsIcon" class="error_icon input_icon"></i>
                        <span id="Code2DigitsMsg" class="error_msg validMsg"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="color:#FF3E3E;">*</span>
                        <label for="RegionName">Наименование региона</label>
                    </td>
                    <td>
                        <input id="RegionName" class="error_input input_border" name="RegionName" type="text" />
                        <i id="RegionNameIcon" class="error_icon input_icon"></i>
                        <span id="RegionNameMsg" class="error_msg validMsg"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Разграничение доступа к данным между администраторами <br /> подразделения и главным региональным администратором
                    </td>
                    <td>
                        <input id="UseSuperUser" class="checkbox_border" name="UseSuperUser" type="checkbox" style="box-shadow:none; align-content:flex-start; " />
                    </td>
                </tr>
                <tr>
                    <th class="editform_h">
                    <span style="color:#A3B1C6; font-size:12px;"> - Заполните параметры выгрузки материалов в ФИС-М</span>                        
                    </th>
                    <th class="editform_h"></th>
                </tr>
                <tr>
                    <td>
                        Автоматическая выгрузка в ФИС-М
                    </td>
                    <td>
                        <input id="FISMIsEnabled" class="checkbox_border" name="FISMIsEnabled" type="checkbox" style="box-shadow:none; align-content:flex-start;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Архивировать файл выгрузки
                    </td>
                    <td>
                        <input id="ArchiveIsEnabled" class="checkbox_border" name="ArchiveIsEnabled" type="checkbox" style="box-shadow:none; align-content:start;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="color:#FF3E3E;">*</span>
                        <label for="FTPIp">IP-адрес FTP-сервера</label>
                    </td>
                    <td>
                        <input id="FTPIp" class="error_input input_border" name="FTPIp" type="text" />
                        <i id="FTPIpIcon" class="error_icon input_icon"></i>
                        <span id="FTPIpMsg" class="error_msg validMsg"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="color:#FF3E3E;">*</span>
                        Каталог FTP сервера
                    </td>
                    <td>
                        <input id="FTPUploadDir" class="error_input input_border" name="FTPUploadDir" type="text" />
                        <i id="FTPUploadDirIcon" class="error_icon input_icon"></i>
                        <span id="FTPUploadDirMsg" class="error_msg validMsg"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="color:#FF3E3E;">*</span>
                        Логин доступа к FTP
                    </td>
                    <td>
                        <input id="FTPLogin" class="error_input input_border" name="FTPLogin" type="text" />
                        <i id="FTPLoginIcon" class="error_icon input_icon"></i>
                        <span id="FTPLoginMsg" class="error_msg validMsg"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span style="color:#FF3E3E;">*</span>
                        Пароль доступа к FTP
                    </td>
                    <td>
                        <input id="FTPPassword" class="error_input input_border" name="FTPPassword" type="text" />
                        <i id="FTPPasswordIcon" class="error_icon input_icon"></i>
                        <span id="FTPPasswordMsg" class="error_msg validMsg"></span>
                    </td>
                </tr>            
            </tbody>            
        </table>   
        <div style="height: 40px; align-content: center; padding-left: calc(50% - 100px);">
            <button type="reset" id="resetButton" class="form_button" style="background-color:#75BCFF;" onclick="resetRegionButton()">Отменить</button>
            <button type="submit" id="saveButton" class="form_button" style="background-color:#5FD664" onclick="saveRegionChanges(event)">Сохранить</button>
        </div>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/DataTables/datatables.min.js"></script>
<script src="~/DataTables/DataTables-1.12.1/js/jquery.dataTables.min.js"></script>
<script src="~/Select-1.4.0/js/dataTables.select.min.js"></script>
<script src="~/Buttons-2.2.3/js/dataTables.buttons.min.js"></script>
<script src="~/js/Modal.js"></script>
<script src="~/js/toastr.min.js"></script>
<script src="~/js/jquery.maskedinput.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">


    //использование плагина dataTablest для отрисовки таблицы

    $(document).ready(function () {

        $("#regTable").DataTable({
            dom:'',
            scrollY:'600px',
            scrollCollapse:true,
            paging:false,
            searching:false,
            ordering:false
        });
    });

    //var dtoptions={
    //    autoWidth:false,
    //    tabIndex:2,
    //    column:[
    //        {width:'60%', targets: 0},
    //        {width:'40%', targets: 1}
    //    ]
    //}

    //всплывающее окно валидации для поля код региона (4 знака)

    $('#RegionCodeIcon').hover(
        function(){
        if($(this).hasClass('error_icon_Fail'))
            {
            $('#RegionCodeMsg').css('display','block');
            }
        },
        function(){
        if($(this).hasClass('error_icon_Fail'))
            {
            $('#RegionCodeMsg').css('display','none');
            }
        });
    
    //

    $('#Code2DigitsIcon').hover(
        function(){
        if($(this).hasClass('error_icon_Fail'))
        {
            $('#Code2DigitsMsg').css('display','block');
        }
        },
        function(){
        if($(this).hasClass('error_icon_Fail'))
        {
            $('#Code2DigitsMsg').css('display','none');
        }
        });

    //

    $('#RegionNameIcon').hover(
        function(){
        if($(this).hasClass('error_icon_Fail'))
        {
            $('#RegionNameMsg').css('display','block');
        }
        },
        function(){
        if($(this).hasClass('error_icon_Fail'))
        {
        $('#RegionNameMsg').css('display','none');
        }
        });
    
    //

    $('#FTPIpIcon').hover(
       function(){
       if($(this).hasClass('error_icon_Fail'))
       {
       $('#FTPIpMsg').css('display','block');
       }
       },
       function(){
       if($(this).hasClass('error_icon_Fail'))
       {
       $('#FTPIpMsg').css('display','none');
       }
       });
    
   //

   $('#FTPUploadDirIcon').hover(
       function(){
       if($(this).hasClass('error_icon_Fail'))
       {
       $('#FTPUploadDirMsg').css('display','block');
       }
       },
       function(){
       if($(this).hasClass('error_icon_Fail'))
       {
       $('#FTPUploadDirMsg').css('display','none');
       }
       });


    //      

   $('#FTPLoginIcon').hover(
       function(){
       if($(this).hasClass('error_icon_Fail'))
       {
       $('#FTPLoginMsg').css('display','block');
       }
       },
       function(){
       if($(this).hasClass('error_icon_Fail'))
       {
       $('#FTPLoginMsg').css('display','none');
       }
       });

     //

   $('#FTPPasswordIcon').hover(
       function(){
       if($(this).hasClass('error_icon_Fail'))
       {
       $('#FTPPasswordMsg').css('display','block');
       }
       },
       function(){
       if($(this).hasClass('error_icon_Fail'))
       {
       $('#FTPPasswordMsg').css('display','none');
       }
       });


    //использоание плагина maskedinput для вывода форм с маской

    $(function(){
        $('#RegionCode').mask('9999');
        $('#Code2Digits').mask('99');
        $('#FTPIp').mask('999.999.999.999');
    });

    function saveSuccess() {
        alert("OK");
        updateForm(data);
    }

    function saveError() {
        alert("Error occured");
    }


    //сброс данных к начальным значениям при нажатии кнопки "Отмена"

    function resetRegionButton() {
        getRegion(1);
    }

    //настройка опций плагина toastr для всплывающих уведомлений

    function toasterOptions() {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "newestOnTop": false,
            "progressBar": true,
            "positionClass": "toast-top-center",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "100",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "show",
            "hideMethod": "hide"
        };
    };

    //обобщенная функция валидации поля формы

    function setInputValidationFail(inputId, iconId, msgSpanId,  errorMsg) {
        $('#' + inputId).addClass('validFail');
        //$('#' + spanId).addClass('validSpanFail');
        //$('#' + spanId).text('!');
        $('#' + iconId).addClass('bi-exclamation-circle error_icon_Fail');
        $('#' + msgSpanId).addClass('validMsgFail');
        $('#' + msgSpanId).text(errorMsg);
    }

    //валидация поля код региона (4 знака)

    function validateRegionCode(regionCode) {

        const msg = "Введите код региона (4 знака)";
        if (!regionCode) {
            setInputValidationFail('RegionCode', 'RegionCodeIcon' , 'RegionCodeMsg' , msg);
            return false;
        }
        if (regionCode.length != 4)
        {
            setInputValidationFail('RegionCode', 'RegionCodeIcon' , 'RegionCodeMsg', msg);
            return false;
        }
        if (+regionCode != regionCode) {
            setInputValidationFail('RegionCode', 'RegionCodeIcon' , 'RegionCodeMsg', msg);
            return false;
        }
        return true;
    }

    //валидация поля код региона (2 знака)

    function validateCode2Digits(code2Digits) {

        const msg = "Введите код региона (2 знака)";
        if(!code2Digits){
            setInputValidationFail('Code2Digits', 'Code2DigitsIcon', 'Code2DigitsMsg', msg);
            return false;
        }
        if(code2Digits.length != 2){
            setInputValidationFail('Code2Digits', 'Code2DigitsIcon', 'Code2DigitsMsg', msg);
            return false;
        }
        if(+code2Digits!=code2Digits){
            setInputValidationFail('Code2Digits', 'Code2DigitsIcon', 'Code2DigitsMsg', msg);
            return false;
        }
        return true;
    }

    //валидация поля наименование региона

    function validateRegionName(regionName){

        const msg = "Введите наименование региона";
        if(!regionName){
            setInputValidationFail('RegionName','RegionNameIcon','RegionNameMsg', msg);
            return false;
        }
        return true;
    }

    //валидация поля IP-адрес FTP-сервера

    function validateFTPIp(ftpIp){
        const msg="Введите IP-адрес FTP-сервера";
        if(!ftpIp){
            setInputValidationFail('FTPIp','FTPIpIcon','FTPIpMsg', msg);
            return false;
        }
        if(!validateIp(ftpIp)){
            setInputValidationFail('FTPIp','FTPIpIcon','FTPIpMsg', msg);
            return false;
        }
        return true;
    }

    //валидация поля каталог FTP-сервера

    function validateFTPUploadDir(ftpUploadDir){
        const msg="Введите каталог FTP-сервера";
        if(!ftpUploadDir){
            setInputValidationFail('FTPUploadDir','FTPUploadDirIcon','FTPUploadDirMsg', msg);
            return false;
        }
        return true;
    }

    //валидация поля логин доступа к FTP-серверу

    function validateFTPLogin(ftpLogin){
        const msg="Введите логин доступа к FTP-серверу";
        if(!ftpLogin){
            setInputValidationFail('FTPLogin','FTPLoginIcon','FTPLoginMsg', msg);
            return false;
        }
        return true;
    }

    //валидация поля пароль доступа к FTP-серверу

    function validateFTPPassword(ftpPassword){
        const msg="Введите пароль доступа к FTP-серверу";
        if(!ftpPassword){
            setInputValidationFail('FTPPassword','FTPPasswordIcon','FTPPasswordMsg', msg);
            return false;
        }
        return true;
    }

    //валидация IP-адреса

    function validateIp(ip){
        let resip=true;
        let ipmass = ip.split('.');
        for (let i=0;i<ipmass.length;i++){
            if(+ipmass[i]!=ipmass[i] || +ipmass[i]>255) resip=false;
        }
        return resip;
    }

    //валидация всех полей формы

    function validateRegionForm(jsonData) {
        let retv = true;
        let resrc = validateRegionCode(jsonData.RegionCode);
        if (retv) retv = resrc;
        let rescd = validateCode2Digits(jsonData.Code2Digits);
        if (retv) retv = rescd;
        let resrn = validateRegionName(jsonData.RegionName);
        if (retv) retv = resrn;
        let resfi = validateFTPIp(jsonData.FTPIp);
        if (retv) retv = resfi;
        let resfu = validateFTPUploadDir(jsonData.FTPUploadDir);
        if (retv) retv = resfu;
        let resfl = validateFTPLogin(jsonData.FTPLogin);
        if (retv) retv = resfl;
        let resfp = validateFTPPassword(jsonData.FTPPassword);
        if (retv) retv = resfp;
        return retv;
    }

    //функция сохранения изменений при нажатии на кнопку сохранить

    function saveRegionChanges(ev) {

        ev.preventDefault();
        resetValidError();
        
        //собираем данные с формы
        let jsonData = {
            Region_Id: $('#Region_Id').val(),
            RegionCode: $('#RegionCode').val(),
            Code2Digits: $('#Code2Digits').val(),
            RegionName: $('#RegionName').val(),
            UseSuperUser: $('#UseSuperUser').prop('checked'),
            //$('#User_Id').val(response.user_Id);
            //$('#LicenseType').val(response.licenseType);
            //$('#LicenseFileName').val(response.licenseFileName);
            FISMIsEnabled: $('#FISMIsEnabled').prop('checked'),
            ArchiveIsEnabled: $('#ArchiveIsEnabled').prop('checked'),
            FTPIp: $('#FTPIp').val(),
            FTPUploadDir: $('#FTPUploadDir').val(),
            FTPLogin: $('#FTPLogin').val(),
            FTPPassword: $('#FTPPassword').val()
        };
        console.log(jsonData);
        //проверяем валидацию
        let valResult = validateRegionForm(jsonData);

        if (!valResult) {
            toasterOptions();
            toastr.error('Ошибка валидации');
            return;
        }

        //вызов api - метода Update
        $.ajax({
            url: '/api/regionapi/update',
            data: JSON.stringify(jsonData),
            type: 'POST',
            contentType: "application/json",
            success: function () {
                toasterOptions();
                toastr.success('Сохранение успешно');
                $('#saveButton').addClass('save_button_click');
                resetValidError();
            },
            error: function () {
                toasterOptions();
                toastr.error('Ошибка сохранения данных');
            }
        });


    }

    //функция сброса изменений к начальным при нажатии на кнопку отменить

    function resetRegionButton() {
        $('#resetButton').addClass('reset_button_click');
        getRegion(1);
        resetValidError();
        toasterOptions();
        toastr.warning('Данные сброшены');
    }

    //сброс классов отображения ошибок валидации

    function resetValidError(){
        $('.error_input').removeClass('validFail');
        $('.error_input').addClass('input_border');
        $('.error_icon').removeClass('bi-exclamation-circle error_icon_Fail');
        $('.error_icon').addClass('input_icon');
        $('.error_msg').removeClass('validMsgFail');
        $('.error_msg').addClass('validMsg');
    }

</script>