
@{

}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<form id="regForm">
    <div>
        
        <table>
            <thead class="blue-header">
                <tr>
                    <th colspan="2">Редактирование учетных данных</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Код региона (4 знака):
                    </td>
                    <td>
                        <input id="RegionCode" type="text" value="RegionCode" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Код региона (2 знака):
                    </td>
                    <td>
                        <input id="Code2Digits" type="text" value="Code2Digits" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Название региона:
                    </td>
                    <td>
                        <input id="Name" type="text" value="Name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Функция "Главный администратор"
                    </td>
                    <td>
                        <input id="UseSuperUser" type="checkbox" value="UseSuperUser" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Пользователь:
                    </td>
                    <td>
                        <select>
                            <option id="User_Id" value="User_Id">
                                Имя пользователя
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color:#75BCFF;">
                        Лицензирование
                    </td>
                </tr>
                <tr>
                    <td>
                        Тип лицензирования:
                    </td>
                    <td>
                        <select>
                            <option id="LicenseType" value="LicenseType">
                                На пользователя
                            </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        Имя файла лицензии:
                    </td>
                    <td>
                        <input id="LicenseFileName" type="text" value="LicenseFileName" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color:#75BCFF">
                        Федеральные учеты
                    </td>
                </tr>
                <tr>
                    <td>
                        Имя пользователяя для доступа:
                    </td>
                    <td>
                        <input id="WSUserName" type="text" value="WSUserName" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="background-color:#75BCFF">
                        Выгрузка материалов в ФИС-М
                    </td>
                </tr>
                <tr>
                    <td>
                        Включить процесс автоматической выгрузки:
                    </td>
                    <td>
                        <input id="FISMIsEnabled" type="checkbox" value="FISMIsEnabled" />
                    </td>
                </tr>
                <tr>
                    <td>
                        IP-адрес FTP-сервера
                    </td>
                    <td>
                        <input id="FTPIp" type="text" value= "FTPIp" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Логин доступа к FTP
                    </td>
                    <td>
                        <input id="FTPLogin" type="text" value="FTPLogin" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Пароль доступа к FTP
                    </td>
                    <td>
                        <input id="FTPPassword" type="text" value="FTPPassword" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Директория выгрузки на FTP
                    </td>
                    <td>
                        <input id="FTPUploadDir" type="text" value="FTPUploadDir" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Архивировать файл выгрузки
                    </td>
                    <td>
                        <input id="ArchiveIsEnabled" type="checkbox" value="ArchiveIsEnabled" />
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="blue-button" onclick="saveRegionChanges()">Сохранить</button><button type="reset" class="blue-button">Сброс</button>
    </div>
</form>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">

    $(document).ready(function () {
    $('#rTable').DataTable();
    })
    
    
    $(document).ready(getRegion(id));

    function getRegion(Id){
        const url='@Url.Action("GetRegionForm","Region")'
        $.ajax({
            type:"GET",
            data:({Id:regionId})
            url:url,
            dataType:'json',
            success:function(response){
                try{
                    let region=JSON.parse(response);
                    $(#RegionCode).val(response.RegionCode);
                    $(#Code2Digits).val(response.Code2Digits);
                    $(#Name).val(response.Name);
                    $(#UseSuperUser).prop('checked',response.UseSuperUser);
                    $(#User_Id).val(response.User_Id);
                    $(#LicenseType).val(response.LicenseType);
                    $(#LicenseFileName).val(response.LicenseFileName);
                    $(#WSUserName).val(response.WSUserName);
                    $(#FISMIsEnabled).prop('checked', response.FISMIsEnabled);
                    $(#FTPIp).val(response.FTPIp);
                    $(#FTPLogin).val(response.FTPLogin);
                    $(#FTPPassword).val(response.FTPPassword);
                    $(#FTPUploadDir).val(response.FTPUploadDir);
                    $(#ArchiveIsEnabled).prop('checked',ArchiveIsEnabled);
                }
                catch{
                   alert('Ошибка загрузки данных');
                }
            }
            error:function(error){
                alert(error);
            }
        });
    }
    
    

    function saveSuccess(){
        alert("OK");
        updateForm(data);
    }

    function saveError(){
        alert("Error occured");
    }

    function saveRegionChanges()
    {
        let jRegionModel = $("#regForm").serialize();
        console.log(jRegionModel.Name);
        saveAjaxChanges(jRegionModel, '@Url.Action("UpdateRegion", "Region")', saveSuccess, saveError, "POST");
    }
</script>