@{
}
<table id="dTable" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Code 2 digit</th>
            <th>Code 4 digit</th>
            <th>Super user?</th>
        </tr>
    </thead>
    <tbody>
        @for(int i=0;i<20;i++)
        {
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        }
    </tbody>
</table>