@model List<ARMdps.Models.ARMUserModel>
@{
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="~/ru.json" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<div>
    <button class="blue-button" onclick="loadNewVersion">Новое подразделение</button>
</div>
<table id="aTable" class="cell-border" style="overflow:scroll; height:400px;">
    <thead style="background-color:#75BCFF;">
        <tr>
            <th>Фамилия</th>
            <th>Имя</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model)
        {
        <tr>
            <th>@u.Family</th>
            <th>@u.FirstName</th>
        </tr>
        }
    </tbody>
</table>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(document).ready(function () {
    $('#aTable').DataTable();
    })
</script>
