@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div id="main_menu" style="display:flex; justify-content:space-around; padding: 1% 5% 1% 5%; border-bottom:solid 1px ; border-bottom-color: #086F99">
        <div style="display:flex">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle blue-button" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Системные справочники
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" onclick="clickRegionBtn(1)">Редактирование учетных данных</button>
                    <button class="dropdown-item" onclick="clickUpdateTableBtn()">Версии ПО</button>
                    <button class="dropdown-item" href="#">Автоматическая выгрузка в ФИС-М</button>
                </div>
            </div>
        </div>
        <div style="display:flex">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle blue-button" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Региональные справочники
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" href="#">Дороги региона</button>
                    <button class="dropdown-item" href="#">Приборы измерения</button>
                    <button class="dropdown-item" href="#">КоАП и фабулы нарушения</button>
                    <button class="dropdown-item" href="#">Пункты ПДД для КоАП</button>
                    <button class="dropdown-item" href="#">КБК для статей КоАП</button>
                    <button class="dropdown-item" href="#">Шаблоны печатных форм</button>
                    <button class="dropdown-item" href="#">Районы населенных пунктов</button>
                    <button class="dropdown-item" href="#">Специализированные стоянки</button>
                </div>
            </div>
        </div>
        <div style="display:flex">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle blue-button" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Доступ и пользователи
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" onclick="clickDepartmentTableBtn()">Подразделения</button>
                    <button class="dropdown-item" onclick="clickARMUsersTableBtn()">Пользователи</button>
                    <button class="dropdown-item" href="#">Рабочие места</button>
                    <button class="dropdown-item" href="#">Номера материалов</button>
                    <button class="dropdown-item" href="#">Лицензии и сопровождение</button>
                </div>
            </div>
        </div>
        <div style="display:flex">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle blue-button" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Материалы
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" href="#">Составленные материалы</button>
                    <button class="dropdown-item" href="#">Выгрузка материалов (файл)</button>
                    <button class="dropdown-item" href="#">Выгрузка материалов (архив)</button>
                </div>
            </div>
        </div>
        <div style="display:flex">
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle blue-button" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Отчетность
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" href="#">Материалы за период</button>
                    <button class="dropdown-item" href="#">Постатейный отчет</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="example" class="container" style="margin-top:1%">
</div>



@section Scripts
{
<script type="text/javascript">


        //Таблицы

        function updateTable(tableHtml) {
        $('#example').html(tableHtml);
        }

        function updateForm(formHtml) {
        $('#example').html(formHtml);
        }

        //Версии ПО
        function clickUpdateTableBtn(){
            sendAjaxNotData('@Url.Action("GetUpdateTable", "Update")',tableSuccess, tableError,"POST");
        }
        //Подразделения
        function clickDepartmentTableBtn() {
            
            sendAjaxNotData('@Url.Action("GetDepartmentTable", "Department")',tableSuccess, tableError, "POST");            
        }
        //Пользователи
        function clickARMUsersTableBtn() {
            sendAjaxNotData('@Url.Action("GetARMUserTable", "ARMUser")', tableSuccess, tableError, "POST")
        }

        function formSuccess(data) {
        updateForm(data);
        }

        function formError() {
        alert("Error occured");
        }        
        
        //Редактирование учетных данных
        function clickRegionBtn(regionId) {
        console.log(regionId);
        sendAjaxData(({ id: regionId }), '@Url.Action("GetRegionForm", "Region")', formSuccess, formError, "POST");
        }

        


        //Скрипт для выпадающего списка(чтобы всегда отображался)
        $(document).ready(function () {
        $(".dropdown-toggle").dropdown();
        });
</script>
}
