@{
    ViewData["Title"] = "Home Page";
}
<div class="main_container">
    <div class="main_menus">
        <div style="display:flex; flex-direction:column;">
            <div class="button_div dropdown">
                <button class="main-button dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Системa
                </button>
                <div class="drop_button dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="drop_button dropdown-item" onclick="clickRegionBtn()">Настройка системы</button>
                    <button class="drop_button dropdown-item" onclick="clickUpdateTableBtn()">Версии ПО</button>
                    <button class="drop_button dropdown-item" href="#">Автоматическая выгрузка в ФИС-М</button>
                </div>
            </div>
        </div>
        <div style="display:flex; flex-direction:column;">
            <div class="button_div dropdown">
                <button class="main-button dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Справочники
                </button>
                <div class="drop_button dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="drop_button dropdown-item" href="#">Дороги региона</button>
                    <button class="drop_button dropdown-item" href="#">Приборы измерения</button>
                    <button class="drop_button dropdown-item" href="#">КоАП и фабулы нарушения</button>
                    <button class="drop_button dropdown-item" href="#">Пункты ПДД для КоАП</button>
                    <button class="drop_button dropdown-item" href="#">КБК для статей КоАП</button>
                    <button class="drop_button dropdown-item" href="#">Шаблоны печатных форм</button>
                    <button class="drop_button dropdown-item" href="#">Районы населенных пунктов</button>
                    <button class="drop_button dropdown-item" href="#">Специализированные стоянки</button>
                </div>
            </div>
        </div>
        <div style="display:flex; flex-direction:column;">
            <div class="button_div dropdown">
                <button class="main-button dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Шаблоны печатных форм
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" href="#">Подразделения</button>
                    <button class="dropdown-item" href="#">Пользователи</button>
                    <button class="dropdown-item" href="#">Рабочие места</button>
                    <button class="dropdown-item" href="#">Номера материалов</button>
                    <button class="dropdown-item" href="#">Лицензии и сопровождение</button>
                </div>
            </div>
        </div>
        <div style="display:flex; flex-direction:column;">
            <div class="button_div dropdown">
                <button class="main-button dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Настройки доступа
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" onclick="clickDepartmentTableBtn()">Управление подразделениями</button>
                    <button class="dropdown-item" onclick="clickARMUsersTableBtn()">Управление пользователями</button>
                    <button class="dropdown-item" href="#">Рабочие места</button>
                    <button class="dropdown-item" href="#">Номера материалов</button>
                    <button class="dropdown-item" href="#">Лицензии и сопровождение</button>
                </div>
            </div>
        </div>
        <div style="display:flex; flex-direction:column;">
            <div class="button_div dropdown">
                <button class="main-button dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Формирование отчётов
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" href="#">Составленные материалы</button>
                    <button class="dropdown-item" href="#">Выгрузка материалов (файл)</button>
                    <button class="dropdown-item" href="#">Выгрузка материалов (архив)</button>
                </div>
            </div>
        </div>
        <div style="display:flex; flex-direction:column;">
            <div class="button_div dropdown">
                <button class="main-button dropdown-toggle" id="dropdownMenuButton" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Настройки пула материалов
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <button class="dropdown-item" href="#">Материалы за период</button>
                    <button class="dropdown-item" href="#">Постатейный отчет</button>
                </div>
            </div>
        </div>
    </div>
    <div id="example" class="main_view">
        <div class="region_form hide_table">
            <div class="editform_div">
                <form id="regForm">
                    <div class="editform_head">
                        <span style="margin: 0px 0px 0px 0px">
                            Данные о регионе
                        </span>
                    </div>
                    <table id="regTable" class="nowrap editform_table">
                        <thead>
                            <tr>
                                <th class="editform_h">
                                    <input type="hidden" id="Region_Id" name="Region_Id" />
                                    Заполните параметры региона
                                    <span style="color:#FF3E3E; font-size:10px;">*</span>
                                    <span style="color:#A3B1C6; font-size:12px;"> - Обязательное для заполнения поле</span>
                                </th>
                                <th class="editform_h"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="RegionCode">Код региона РФ (4 знака)</label>
                                </td>
                                <td>
                                    <input id="RegionCode" class="error_input input_border" name="RegionCode" type="text" maxlength="4" />
                                    <i id="RegionCodeIcon" class="error_icon input_icon"></i>
                                    <span id="RegionCodeMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="Code2Digits"> Код региона, применяемый на ГРЗ ТС (2 знака)</label>
                                </td>
                                <td>
                                    <input id="Code2Digits" class="error_input input_border" name="Code2Digits" type="text" maxlength="2" />
                                    <i id="Code2DigitsIcon" class="error_icon input_icon"></i>
                                    <span id="Code2DigitsMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="RegionName">Наименование региона</label>
                                </td>
                                <td>
                                    <input id="RegionName" class="error_input input_border" name="RegionName" type="text" />
                                    <i id="RegionNameIcon" class="error_icon input_icon"></i>
                                    <span id="RegionNameMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Разграничение доступа к данным между администраторами <br /> подразделения и главным региональным администратором
                                </td>
                                <td>
                                    <input id="UseSuperUser" class="checkbox_border" name="UseSuperUser" type="checkbox" style="box-shadow:none; align-content:flex-start; " />
                                </td>
                            </tr>
                            <tr>
                                <th class="editform_h">
                                    <span style="color:#A3B1C6; font-size:12px;">Заполните параметры выгрузки материалов в ФИС-М</span>
                                </th>
                                <th class="editform_h"></th>
                            </tr>
                            <tr>
                                <td>
                                    Автоматическая выгрузка в ФИС-М
                                </td>
                                <td>
                                    <input id="FISMIsEnabled" class="checkbox_border" name="FISMIsEnabled" type="checkbox" style="box-shadow:none; align-content:flex-start;" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Архивировать файл выгрузки
                                </td>
                                <td>
                                    <input id="ArchiveIsEnabled" class="checkbox_border" name="ArchiveIsEnabled" type="checkbox" style="box-shadow:none; align-content:start;" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="FTPIp">IP-адрес FTP-сервера</label>
                                </td>
                                <td>
                                    <input id="FTPIp" class="error_input input_border" name="FTPIp" type="text" />
                                    <i id="FTPIpIcon" class="error_icon input_icon"></i>
                                    <span id="FTPIpMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    Каталог FTP сервера
                                </td>
                                <td>
                                    <input id="FTPUploadDir" class="error_input input_border" name="FTPUploadDir" type="text" />
                                    <i id="FTPUploadDirIcon" class="error_icon input_icon"></i>
                                    <span id="FTPUploadDirMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    Логин доступа к FTP
                                </td>
                                <td>
                                    <input id="FTPLogin" class="error_input input_border" name="FTPLogin" type="text" />
                                    <i id="FTPLoginIcon" class="error_icon input_icon"></i>
                                    <span id="FTPLoginMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    Пароль доступа к FTP
                                </td>
                                <td>
                                    <input id="FTPPassword" class="error_input input_border" name="FTPPassword" type="text" />
                                    <i id="FTPPasswordIcon" class="error_icon input_icon"></i>
                                    <span id="FTPPasswordMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="height: 40px; align-content: center; padding-left: calc(50% - 100px);">
                        <button type="reset" id="resetButton" class="form_button" style="background-color:#75BCFF;" onclick="resetRegionButton()">Отменить</button>
                        <button type="submit" id="saveButton" class="form_button" style="background-color:#5FD664" onclick="saveRegionChanges(event)">Сохранить</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="department_table">
            <table id="dTable" class="display cell-border editform_table" style="padding:0px">
                <thead style="background-color:#C4C4C4; border-radius: 6px 6px 0px 0px;">
                    <tr>
                        <th class="del_icon"><i class="bi bi-trash" onclick="clickDepartmentDel()"></i></th>
                        <th style="text-align:left">Код подразделения</th>
                        <th style="text-align:left">Название подразделения</th>
                        <th style="text-align:left">Полное наименование подразделения</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="department_form">
            <div class="editform_div">
                <form id="departmentForm">
                    <div style="display: flex;justify-content: space-between;">
                    </div>
                    <table id="depeditTable" class="nowrap editform_table" style="padding:0px !important">
                        <thead class="editform_head">
                            <tr>
                                <th style="text-align:left; margin: 0px 0px 0px 0px">
                                    <label style="text-align:left; margin: 0px 0px 0px 0px">
                                        Данные о подразделении
                                    </label>
                                </th>
                                <th style="text-align:right; margin: 0px 0px 0px 0px">
                                    <label class="close_button" style="text-align:right">
                                        <i class="bi bi-x-square" onclick="resetDepartmentButton()"></i>
                                    </label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="editform_h">
                                    <input type="hidden" id="Department_Id" name="Department_Id" />
                                    Заполните параметры подразделения
                                    <span style="color:#FF3E3E; font-size:10px;">*</span>
                                    <span style="color:#A3B1C6; font-size:12px;"> - Обязательное для заполнения поле</span>
                                </th>
                                <th class="editform_h"></th>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="DepartmentCode">Код подразделения</label>
                                </td>
                                <td>
                                    <input id="DepartmentCode" class="error_input input_border" name="DepartmentCode" type="text" />
                                    <i id="DepartmentCodeIcon" class="error_icon input_icon"></i>
                                    <span id="DepartmentCodeMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="ShortName">
                                        Краткое наименование:
                                    </label>
                                </td>
                                <td>
                                    <input id="ShortName" class="error_input input_border" name="ShortName" type="text" />
                                    <i id="ShortNameIcon" class="error_icon input_icon"></i>
                                    <span id="ShortNameMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="DepartmentName">
                                        Полное наименование:
                                    </label>
                                </td>
                                <td>
                                    <input id="DepartmentName" class="error_input input_border" name="DepartmentName" type="text" />
                                    <i id="DepartmentNameIcon" class="error_icon input_icon"></i>
                                    <span id="DepartmentNameMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="Phones">
                                        Телефон:
                                    </label>
                                </td>
                                <td>
                                    <input id="Phones" class="error_input input_border" name="Phones" type="text" />
                                    <i id="PhonesIcon" class="error_icon input_icon"></i>
                                    <span id="PhonesMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="EmailAddress">
                                        Адрес электронной почты:
                                    </label>
                                </td>
                                <td>
                                    <input id="EmailAddress" class="error_input input_border" name="EmailAddress" type="email" />
                                    <i id="EmailAddressIcon" class="error_icon input_icon"></i>
                                    <span id="EmailAddressMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="Address">
                                        Адрес:
                                    </label>
                                </td>
                                <td>
                                    <input id="Address" class="error_input input_border" name="Address" type="text" />
                                    <i id="AddressIcon" class="error_icon input_icon"></i>
                                    <span id="AddressMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <th class="editform_h">
                                    Заполните банковские реквизиты
                                </th>
                                <th class="editform_h">
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="KPP">
                                        КПП:
                                    </label>
                                </td>
                                <td>
                                    <input id="KPP" class="error_input input_border" name="KPP" type="text" />
                                    <i id="KPPIcon" class="error_icon input_icon"></i>
                                    <span id="KPPMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="INN">
                                        ИНН:
                                    </label>
                                </td>
                                <td>
                                    <input id="INN" class="error_input input_border" name="INN" type="text" />
                                    <i id="INNIcon" class="error_icon input_icon"></i>
                                    <span id="INNMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="OKTMO">
                                        ОКТМО:
                                    </label>
                                </td>
                                <td>
                                    <input id="OKTMO" class="error_input input_border" name="OKTMO" type="text" />
                                    <i id="OKTMOIcon" class="error_icon input_icon"></i>
                                    <span id="OKTMOMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="BankName">
                                        Наименование банка получателя:
                                    </label>
                                </td>
                                <td>
                                    <input id="BankName" class="error_input input_border" name="BankName" type="text" />
                                    <i id="BankNameIcon" class="error_icon input_icon"></i>
                                    <span id="BankNameMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="PaymentName">
                                        Наименование получателя:
                                    </label>
                                </td>
                                <td>
                                    <input id="PaymentName" class="error_input input_border" name="PaymentName" type="text" />
                                    <i id="PaymentNameIcon" class="error_icon input_icon"></i>
                                    <span id="PaymentNameMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="BIK">
                                        БИК:
                                    </label>
                                </td>
                                <td>
                                    <input id="BIK" class="error_input input_border" name="BIK" type="text">
                                    <i id="BIKIcon" class="error_icon input_icon"></i>
                                    <span id="BIKMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="KBK">
                                        КБК:
                                    </label>
                                </td>
                                <td>
                                    <input id="KBK" class="error_input input_border" name="KBK" type="text" />
                                    <i id="KBKIcon" class="error_icon input_icon"></i>
                                    <span id="KBKMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="RReceipt">
                                        Расчетный счёт:
                                    </label>
                                </td>
                                <td>
                                    <input id="RReceipt" class="error_input input_border" name="RReceipt" type="text" />
                                    <i id="RReceiptIcon" class="error_icon input_icon"></i>
                                    <span id="RReceiptMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span style="color:#FF3E3E;">*</span>
                                    <label for="KReceipt">
                                        Корреспондирующий счёт:
                                    </label>
                                </td>
                                <td>
                                    <input id="KReceipt" class="error_input input_border" name="KReceipt" type="text" />
                                    <i id="KReceiptIcon" class="error_icon input_icon"></i>
                                    <span id="KReceiptMsg" class="error_msg validMsg"></span>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;">
                                    <button type="reset" id="resetButton" class="form_button" style="background-color:#75BCFF;" onclick="resetDepartmentButton()">Отменить</button>
                                </td>
                                <td>
                                    <button type="submit" id="saveButton" class="form_button" style="background-color:#5FD664" onclick="saveDepartmentChanges(event)">Сохранить</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>                    
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalDepartmentDel" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="btn-close" onclick="modalHide()"><i class="bi bi-x-square"></i></button>
            </div>
            <div class="modal-body" style="text-align:center;">
                Удалить выбранные элементы?
            </div>
            <div class="modal-footer" style="text-align:center;">
                <button type="button" class="form_button" onclick="deleteDepartments()" style="background-color:#FF3E3E;">Удалить</button>
                <button type="button" class="form_button" onclick="modalHide()" style="background-color:#75BCFF;">Отменить</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
<script type="text/javascript">

    //Таблицы

    //function updateTable(tableHtml) {
    //$('#example').html(tableHtml);
    //}

    //function updateForm(formHtml) {
    //$('#example').html(formHtml);
    //}

    //function tableDepartmentSuccess(data) {
    //updateTable(data);
    //}

    //function tableError() {
    //alert("Error occured");
    //}

    //Версии ПО
    function clickUpdateTableBtn(){
        sendAjaxNotData('@Url.Action("GetUpdateTable", "Update")',tableSuccess, tableError,"POST");
    }

    //Подразделения
    @*function clickDepartmentTableBtn() {

                        sendAjaxNotData('@Url.Action("GetDepartmentTable", "Department")',tableDepartmentSuccess, tableError);
                    }*@



    function editSuccess(data) {
             updateForm(data);
    };

    function editError() {
             alert('Error occured');
    };



    //Пользователи
    function clickARMUsersTableBtn() {
        sendAjaxNotData('@Url.Action("GetARMUserTable", "ARMUser")', tableSuccess, tableError, "POST")
    };


    function formSuccess(data) {
        updateForm(data);
        getRegion(1);
    };

    function formError() {
    alert("Error occured");
    };





    //Скрипт для выпадающего списка(чтобы всегда отображался)
    $(document).ready(function () {
    $(".dropdown-toggle").dropdown();
    });
</script>
}
